@use "../../styles/index.scss" as *;

.course {
  width: 100%;
  box-shadow: 9px 10px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: $color-white;
  margin-bottom: px($spacing-lg);
  display: flex;
  column-gap: px($spacing-lg);
  padding: px($spacing-sm);
  border-radius: px($radius-medium);
 

  &__title  {
    font-size: px($font-sx);
  }

  &__description {
      font-size: px($font-xs);
     font-weight: 400;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    column-gap:  px($spacing-lg);
  }
&__count {
  
}

&__lesson {
  display: flex;
  align-items: center;
  column-gap: px($spacing-sm) ;
}

}

/*
 @use "../../styles/index.scss" as *;
$color-white: #ffffff;
$color-black: #000000;
 
$color-white: #ffffff;
$color-black: #000000;

 
$color-white: #ffffff;
$color-black: #000000;
$color-green: #379c07;
$color-orange: #e29f22;


$color-grayLight:  #f0f0f0;
$color-gray: #d8d8d8;
$color-purple: #9f0fa7;
$color-white: #fff;
$color-darkLight: #303027;
$color-dark: #222121;
$color-red: #d80909;

$container-sm: 1280;
$container-md: 1400;
$container-xs: 700;

 
$font-xs: 14;
$font-sx: 20;
$font-md: 24;
$font-lg: 32;

$radius-small: 4;
$radius-medium: 8;
$radius-large: 16;
$radius-xlarge: 24;
$radius-circle: 9999;

$spacing-xs: 4;
$spacing-sm: 8;
$spacing-md: 16;
$spacing-lg: 24;
$spacing-xl: 32;
$spacing-xxl: 48;
$spacing-bg: 60;
$spacing-vg: 80;
*/
