@use "../../styles/index.scss" as *;

.header {
  width: 100%;
  min-height: px($spacing-bg);
  display: flex;
  justify-content: space-between;
  background-color: $color-dark;
  
  &__container {
    max-width: px($container-md);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px($spacing-sm) 0;
  }
  
  &__logo {
    cursor: pointer;
  }
  
  &__nav {
    display: flex;
    align-items: center;
  }
  
  &__item {
    cursor: pointer;
    color: $color-white;
    position: relative;
    padding: px($spacing-xs) 0;
    transition: all 0.3s ease;
    
    &:hover {
      opacity: 0.9;
    }
    
    &_active::after,
    &_hover::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-white;
      transform-origin: bottom center;
      transition: transform 0.3s ease;
    }
    
    &_active::after {
      transform: scaleX(1);
    }
    
    &_hover::after {
      transform: scaleX(0.8);
    }
  }
  
  &__list {
    display: flex;
    column-gap: px($spacing-lg);
    align-items: center;
  }
  
  &__logout {
    padding: px($spacing-sm);
    background-color: $color-purple;
    border-radius: px($radius-small);
    transition: all 0.3s ease;
    
    &:hover {
      opacity: 0.9;
      transform: translateY(-1px);
    }
  }
}
