@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.courses {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__container {
    max-width: $container-md;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: px($spacing-lg);
  }

  &__title {
    margin-top: px($spacing-lg);
    text-align: center;
    font-size: px($font-lg);
  }

  &__smileys {
    display: flex;
    column-gap: px($spacing-lg);
    align-items: center;
    justify-content: center;
  }

  &__smiley {
    border-radius: 50%;
    border: 2px solid $color-purple;
    width: 80px;
    height: 80px;
    font-size: px($font-lg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: center;
    font-size: px($font-md);
  }

  &__round {
    border-radius: 50%;
    background-color: $color-purple;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: px($spacing-lg);
    margin-bottom: px($spacing-lg);
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: px($spacing-lg);
    margin-top: px($spacing-lg);
    margin-bottom: px($spacing-lg);

    & > * {
      flex: 0 0 calc(33.333% - px($spacing-lg) * 2 / 3);
      max-width: calc(33.333% - px($spacing-lg) * 2 / 3);
    }
  }
}
