@use "../../styles/index.scss" as *;

.lesson {
  width: 100%;
  margin-top: px($spacing-lg);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &__container {
    max-width: $container-md;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: px($spacing-lg);
  }

}






.form {
 // background-color: $color-darkLight;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
   // box-shadow: 9px 10px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: $color-white;
    max-width: $container-xs;
    width: 100%;
    flex-direction: column;
    padding: px($spacing-md);
    row-gap: px($spacing-md);
    border-radius: px($radius-large);
  }
  &__preview {
    display: flex;
    column-gap: px($spacing-lg);
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: px($spacing-lg);
  }

  &__panel {
    display: flex;
    flex-direction: column;
    width: 100%;
  max-width: 613px;
  }

  &__subpreview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__input { 
    border: none;
    outline: none;
    cursor: pointer;
    padding: px($spacing-xs);
    background-color: $color-grayLight ;
    border-radius: $radius-small;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: px($spacing-xs);
    width: 100%;
 
  }
  &__label {

  }
  &__error {
    margin-left: 20px;
    text-align: right;
    color: $color-red
  }
}