@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.courses {
  width: 100%;
  margin-top: px($spacing-lg);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &__container {
    max-width: $container-md;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: px($spacing-lg);
  }

  &__image {
    max-width: 300px;
    height: auto;
    width: 100%;
  }

  &__preview {
    width: 100%;
    display: flex;
    column-gap: px($spacing-xl);
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: px($spacing-md);
    width: 100%;
  }

  &__edit {
    font-size: px($font-md);
    font-weight: 400;
    cursor: pointer;
  }

  &__infoPreview {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: px($font-lg);
    font-weight: 700;
  }

  &__description {
    font-size: px($font-md);
    font-weight: 400;
  }

  &__detail {
    font-size: px($font-sx);
    font-weight: 400;
  }

  &__tags {
    display: flex;
    gap: px($spacing-md);

    flex-wrap: wrap;
  }

  &__tag {
    border-radius: 20px;
    background-color: $color-grayLight;

    padding: px($spacing-md);
    font-size: px($font-sx);
    font-weight: 400;
  }

  &__certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: px($spacing-lg);
  }

  &__certificateTitle {
    font-size: px($font-lg);
    font-weight: 700;
  }

  &__certificateImage {
    max-width: px($container-xs);
    height: auto;
  }

  &__actions {
    margin-bottom: px($spacing-lg);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.course {
  &__details {
    width: 100%;
    max-width: $container-md;
    padding: px($spacing-xl);
    border-radius: px($radius-large);
    background-color: $color-white;
    box-shadow: 0 20px 60px rgba($color-black, 0.06);
  }

  &__subtitle {
    margin-bottom: px($spacing-md);
    font-size: px($font-lg);
    font-weight: 700;
    color: $color-dark;
  }

  &__detailedDescription {
    margin: 0;
    font-size: px($font-sx);
    line-height: 1.75;
    color: rgba($color-dark, 0.8);
    white-space: pre-line;
  }
}
 