@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
.button {
  padding: px($radius-medium);
  border-radius: px($radius-small);
  cursor: pointer;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.45;
    filter: grayscale(0.15);
  }
}


 